body {
  font-family: 'Quicksand', sans-serif;
  background-color: #693668;
  color: #fff;
  height: 70vh;
  font-size: 1.4rem;
}

section {
  position: absolute;
  top: 40vh;
  overflow: hidden;
  max-width: 85vw;
  animation: growFromLeft 1.7s ease 1s forwards;
  width: 0vw;
}

@keyframes growFromLeft {
  100% {
    width: 100vw;
  }
}

hr {
  border: 1px solid #fff;
  margin: 0;
}

p {
  margin: 0 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
}

span {
  display: inline-block;
  animation: reveal 500ms ease 2s forwards;
}

#p1 span {
  transform: translateY(2rem);
  transform-origin: bottom;
}

#p2 span{
  transform: translateY(-2rem);
  transform-origin: top;
}

@keyframes reveal {
  100% {
    transform: translateY(0);
  }
}